@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "variables.css";

@import "status-bar.css";
@import "nav-bar.css";
@import "screen-header.css";
@import "alt-screen-header.css";
@import "user-component.css";
@import "badge.css";
@import "icon-row.css";
@import "no-mobile.css";
@import "Cheongju.css";
@import "imgbox.css";
@import "login.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";

body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
}
.bgimg {
  background-image: url('https://postfiles.pstatic.net/MjAyMzAyMjhfMjM4/MDAxNjc3NTc2ODIwMjMy.egKO6GOegoKMdeJuelbq_gAkx-_ujfXizDHmd-nx7uIg.q9KS5wFd3obnHdy7QpqruI5N91SI_CUA-UhWkK3ZSCAg.JPEG.cjcityblog/%EC%B2%AD%EC%A3%BC%EC%8B%9C_%EA%B7%B8%EB%9D%BC%ED%8F%B4%EB%A6%AC%EC%98%A4(%EC%84%B8%EB%A1%9C).jpg?type=w966');
}
.main-screen {
  padding: 0px var(--horizontal-space);
}
